version: "3.3"
services:
  envoy:
    image: envoyproxy/envoy:v1.21.1
    command: envoy -c /config/envoy.yml
    volumes:
      - ${BOOTSTRAP_ENVOY_FILE:-./config/envoy.yml}:/config/envoy.yml
    ports:
      - "10000:10000"
  mysql-server:
    image: mysql:8.0
    volumes:
      - mysql-db:/var/lib/mysql
    deploy:
      replicas: ${MYSQL_REPLICA_COUNT:-1}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DCS_DATABASE}
  nats-server:
    image: nats:2.7-alpine
    ports:
      - "8222:8222"
    command: -c /config/server.conf
    volumes:
      - ./config/nats-server.conf:/config/server.conf
      - ./pki/nats-server/server.crt:/config/pki/server.crt
      - ./pki/nats-server/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
  pdp:
    build: ./services
    command: pdp-server
    volumes:
      - ${BOOTSTRAP_CONFIG_FILE:-./config/global.yml}:/config/global.yml
      - ${BOOTSTRAP_BASIC_AUTH_FILE:-./config/gateway-auth-basic}:/auth/basic-auth-credentials
      - ./policies:/policies
      - ./pki/pdp/server.crt:/config/pki/server.crt
      - ./pki/pdp/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      PDP_POLICY_PATH: /policies
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
      SERVICE_TLS_ROOT_CA: /config/pki/root.crt
      PDS_HOST: pds
      PDS_PORT: 9002
      PDP_KAFKA_PONGO_BOOTSTRAP_SERVERS: kafka1-host:9092
      PDP_KAFKA_PONGO_SCHEMA_REGISTRY_URL: http://kafka1-host:8081
    extra_hosts:
      kafka1-host: ${KAFKA_PONGO_HOST}
  tap:
    build: ./services
    command: tap-server
    volumes:
      - ${BOOTSTRAP_CONFIG_FILE:-./config/global.yml}:/config/global.yml
      - ./pki/tap/server.crt:/config/pki/server.crt
      - ./pki/tap/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
      SERVICE_TLS_ROOT_CA: /config/pki/root.crt
  dcs:
    depends_on:
      - mysql-server
    build: ./services
    deploy:
      replicas: ${DCS_REPLICA_COUNT:-1}
    command: dcs-server
    volumes:
      - ${BOOTSTRAP_CONFIG_FILE:-./config/global.yml}:/config/global.yml
      - ./pki/dcs/server.crt:/config/pki/server.crt
      - ./pki/dcs/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
      SERVICE_TLS_ROOT_CA: /config/pki/root.crt
      MYSQL_SERVER_HOST: mysql-server
      MYSQL_SERVER_PORT: 3306
      MYSQL_DATABASE: ${MYSQL_DCS_DATABASE}
      MYSQL_USER: ${MYSQL_DCS_USER}
      MYSQL_PASSWORD: ${MYSQL_DCS_PASSWORD}
  pds:
    depends_on:
      - mysql-server
      - dcs
    build: ./services
    deploy:
      replicas: ${PDS_REPLICA_COUNT:-1}
    command: pds-server
    volumes:
      - ${BOOTSTRAP_CONFIG_FILE:-./config/global.yml}:/config/global.yml
      - ./pki/pds/server.crt:/config/pki/server.crt
      - ./pki/pds/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      PDS_SERVER_NAME: pds
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
      SERVICE_TLS_ROOT_CA: /config/pki/root.crt
      MYSQL_SERVER_HOST: mysql-server
      MYSQL_SERVER_PORT: 3306
      MYSQL_DATABASE: ${MYSQL_DCS_DATABASE}
      MYSQL_USER: ${MYSQL_DCS_USER}
      MYSQL_PASSWORD: ${MYSQL_DCS_PASSWORD}
volumes:
  mysql-db: {}
