version: "3.3"
services:
  envoy:
    image: envoyproxy/envoy:v1.21.1
    command: envoy -c /config/envoy.yml
    volumes:
      - ./config/envoy.yml:/config/envoy.yml
    ports:
      - "10000:10000"
  nats-server:
    image: nats:2.7-alpine
    ports:
      - "8222:8222"
    command: -c /config/server.conf
    volumes:
      - ./config/nats-server.conf:/config/server.conf
      - ./pki/nats-server/server.crt:/config/pki/server.crt
      - ./pki/nats-server/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
  pdp:
    build: ./services
    command: pdp-server
    volumes:
      - ./config/global.yml:/config/global.yml
      - ./policies:/policies
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      PDP_POLICY_PATH: /policies
  tap:
    build: ./services
    command: tap-server
    volumes:
      - ./config/global.yml:/config/global.yml
      - ./pki/tap/server.crt:/config/pki/server.crt
      - ./pki/tap/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
  dcs:
    build: ./services
    command: dcs-server
    volumes:
      - ./config/global.yml:/config/global.yml
      - ./pki/dcs/server.crt:/config/pki/server.crt
      - ./pki/dcs/server.key:/config/pki/server.key
      - ./pki/root.crt:/config/pki/root.crt
    environment:
      GLOBAL_CONFIG_PATH: /config/global.yml
      SERVICE_TLS_CERT: /config/pki/server.crt
      SERVICE_TLS_KEY: /config/pki/server.key
